@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  --text-color: rgb(205, 224, 203);
  --border: 2px solid rgb(41, 41, 41);
  --monospace: 'IBM Plex Mono', monospace;
}
