@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #1b1d22;
  color: var(--text-color);
}
input {
  background: rgb(24, 24, 24);
  border: var(--border);
  color: var(--text-color);
}
textarea, select, input, button {
  &:focus {
    outline: none;
  }
}
button {
  border: 1px solid #333;
  cursor: pointer;
  transition: background 0.25s ease;
  background: rgb(28, 28, 28);
  color: white;
}
button:hover {
  background: rgb(32, 32, 32);
}

label {
  font-size: 10pt;
}
pre {
  margin: 0;
  padding: 0;
  display: flex;
}

input[type=text], input[type=password] {
  height: 40px;
  padding: 5px;
  font-size: 12pt;
  box-sizing: border-box;
  margin: 0;
}

.mb {
  margin-bottom: 10px;
}
.mt {
  margin-top: 10px;
}
.ml {
  margin-left: 10px;
}
.mr {
  margin-right: 10px;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.gap {
  gap: 10px;
}

.center {
  justify-content: center;
  align-items: center;
}
.j-center {
  justify-content: center;
}
.i-center {
  align-items: center;
}

.panel {
  background-color: #24252b;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px black;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
